<h2>Pengertian</h2>
<ol>
    <li>Fungsi pada python adalah kumpulan perintah atau baris kode yang dikelompokkan menjadi satu kesatuan untuk kemudian bisa dipanggil atau digunakan berkali-kali.</li>
    <li>Sebuah fungsi dapat menerima parameter, dapat mengembalikan suatu nilai, dan dapat dipanggil berkali-kali secara independen.</li>
</ol>
<hr>
<h2>Keuntungan</h2>
<ol>
    <li>Membagi kode program menjadi bagian-bagian kecil dengan tugasnya masing-masing.</li>
    <li>Membuat kode program menjadi lebih “reusable” dan lebih terstruktur.</li>
</ol>
<hr>
<h2>Sintaks</h2>

```python
def function_name():
    Logic Program
```
Cara memanggil fungsi dengan menuliskan function_name diikuti kurung buka tutup () beserta parameter jika ada

```python
    function_name()
```
<hr>
Buatlah fungsi dengan nama "helloPython" yang berfungsi untuk mencetak "Welcome in Python Language"

In [1]:
def helloPython():
  print('Welcome in Python Language')
helloPython()

Welcome in Python Language

<h1>Fungsi dengan parameter</h1>
Sebuah fungsi dapat menerima parameter ataupun argumen yang merupakan suatu nilai/variabel yang dilemparkan ke dalam fungsi untuk diproses lebih lanjut.

<h2>Sintaks</h2>

```python
def function_name(param):
    Logic Program
```
Cara memanggil fungsi dengan menuliskan function_name diikuti kurung buka tutup () beserta parameter

```python
    function_name(param)
```
<hr>

Buatlah fungsi dengan nama "fullName" yang mempunyai parameter "firstname" dan "lastname" digunakan untuk mencetak "firstname" dan "lastname"

In [ ]:
def fullName(firstname, lastname):
  print(firstname, lastname)

Parameter fungsi diperbolehkan menggunakan lebih dari 1, dimana paramater tersebut ada yang wajib harus diisi dan ada yang tidak harus diisi

```python
def function_name(param_1, param_2, param_3,....):
    Logic Program
```

Cara memanggil fungsi dengan menuliskan function_name diikuti kurung buka tutup () beserta parameter

```python
    function_name(param_1, param_2, param_3)
```
<hr>
Buatlah fungsi dengan nama maxValue yang mempunyai parameter "val_1","val_2" dan "val_3" yang bertujuan untuk mencari nilai terbesar dari 3 nilai tersebut

In [2]:
def maxValue(val_1, val_2, val_3):
  list = [val_1, val_2, val_3]
  return max(list)
maxValue(1, 3, 2)

3

Parameter opsional digunakan pada fungsi dengan cara memberikan nilai default, artinya nilai parameter sudah diberikan terlebih dahulu tanpa dipanggil

```python
def function_name(param_1, param_2, param_3 = 'Nilai'):
    Logic Program
```

Buatlah fungsi "countCircleArea" dengan 2 parameter yaitu "phi" dan "diameter" dimana parameter phi mempunyai nilai default 3.14

In [8]:
def countCircleArea(diameter, phi=3.14):
  print(f"phi : {phi}\ndiameter : {diameter}")

Fungsi dengan 2 Parameter opsional juga dapat dilakukan pada Python.

```python
def info(suhu, daerah='Sukabumi', satuan = 'Celcius'):
    print(f"Suhu sekarang di {daerah} : {suhu} {satuan} ")
```
Adapun Cara memanggilnya

```python
    info(30)
```

In [9]:
#Cobalah fungsi tersebut pada area kode disini
countCircleArea(20)

phi : 3.14
diameter : 20

<h1>Fungsi dengan Return Value</h1>

Yaitu fungsi dimana akhir dari programnya adalah nilai kembalian atau nilai balik. Artinya nilai dalam fungsi dapat ditampung lagi ke variabel lain untuk digunakan operasi lebih lanjut.

Buatlah fungsi dengan return value yang digunakan untuk mengecek sebuah bilangan termasuk bilangan negatif, bilangan neteral(0) dan bilangan positif

In [11]:

def angka(number):
  bilangan = ''
  if number < 0:
    bilangan = 'negatif'
  elif number == 0:
    bilangan = 'neteral'
  else :
    bilangan = 'positif'
  return bilangan
print(angka(-1))

negatif

<h3>Soal Latihan</h3>
<ol>
    <li>Buatlah fungsi untuk menjumlahkan total nilai dari list</li>
    <li>Buatlah fungsi untuk mencari nilai terbesar dari sekumpulan list </li>
    <li>Buatlah fungsi untuk menjumlahkan 2 buah list </li>
</ol>

In [2]:
#Soal 1
angka = [5, 4, 3, 7, 9, ]
def totalValues(angka):
  total = 0
  for i in range(len(angka)):
    total += angka[i]
  return total
totalValues(angka)

28

In [3]:
#Soal 2
angka = [23, 43, 11, 56, 20, 4]
def maxNumber(angka):
  return max(angka)
maxNumber(angka)

56

In [1]:
#Soal 3
list1 = ['Sabella', 'Aufa']
list2 = ['Syahda']
def mixList(list1, list2):
  return list1 + list2
mixList(list1, list2)

['Sabella', 'Aufa', 'Syahda']